-- DropForeignKey
ALTER TABLE "public"."BookBorrower" DROP CONSTRAINT "BookBorrower_borrowerId_fkey";

-- DropForeignKey
ALTER TABLE "public"."BookBorrower" DROP CONSTRAINT "BookBorrower_bookId_fkey";

-- DropTable
DROP TABLE "public"."BookBorrower";

